

<div class="container">
<center>
<h1><img src="http://i2.minus.com/i5UkeOmWoCMvX.png"></h1>

<form action="/game" method="post">
  <ul class="form_list">
    <li>Name for player 1</li>
    <li><input type="text" name="player_1"></li>
    <li><br></li>
    <li>Name for player 2</li>
    <li><input type="text" name="player_2"></li>
    <li><input type="submit" value="play"></li>
  </ul>
</form>

</center>
</div>

